astroid==2.2.5
colorama==0.4.1
control==0.8.2
cycler==0.10.0
Django==2.2.2
django-background-tasks==1.2.0
django-compat==1.0.15
django-crispy-forms==1.7.2
isort==4.3.20
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
matplotlib==3.1.0
mccabe==0.6.1
ModelicaRes==0.12.2
numpy==1.16.4
paho-mqtt==1.4.0
pandas==0.24.2
Pillow==6.0.0
pylint==2.3.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
scipy==1.3.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.3.5
wrapt==1.11.1
xlrd==1.2.0
