{% extends 'base.html' %}

{% block extrahead %}
{% endblock %}

{% load crispy_forms_tags %}
{% block  content %}

<style>
    input[type=text]:focus {
      background-color: #BBBBFF;
    }
    input[type=button], input[type=submit], input[type=reset] {
      background-color: #888888;
      border: none;
      color: black;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
    .moog_nav_inactive:hover {
        background-color: #343A40;
        color: white;
    }
    .moog_nav_inactive {
        background-color: #99C000;
        border: 0px;
        margin: 0px 0px 0px 0px;
        float: left;
        width: 14%;
    }
    #usecase_list {
        float:top;
        background-color: #BED8FB;
        width: 98%;
    }
</style>

<div class="w3-bar w3-black">
    <button class="moog_nav_inactive" onclick="openView('Fenster1')">Fenster1</button>
    <button class="moog_nav_inactive" onclick="openView('Fenster2')">Fenster2</button>
    <button class="moog_nav_inactive" onclick="openView('Fenster3')">Fenster3</button>
    <button class="moog_nav_inactive" onclick="openView('Fenster4')">Fenster4</button>
    <button class="moog_nav_inactive" onclick="openView('Fenster5')">Fenster5</button>
    <button class="moog_nav_inactive" onclick="openView('Resultat')">Resultat</button>
    <button class="moog_nav_inactive" onclick="openView('Handlungsempfehlungen')">Handlungsempfehlungen</button>
</div>
<br>

<!-- List of use cases -->
<ul id="usecase_list">
</ul>

<form action="" method="post">
    {% csrf_token %}




    <script>
        function openView(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";  
        }


    </script>

    <!------------------------------------------------------------------->
    <!----------------- Fenster 1 --------------------------------------->
    <!------------------------------------------------------------------->

    <div id="Fenster1" class="w3-container city">
        <h4>Fenster 1</h4>
        <div class="label">Welcher Use Case der Produktionsinfrastruktur soll bewertet werden?</div> 
        <div class="value"> {{ form.bezeichnung_use_case }} </div> <br>
        <script>
            $('#{{form.bezeichnung_use_case.auto_id}}').bind('input', function() {
                console.log($('#{{form.bezeichnung_use_case.auto_id}}').val());
            });
        </script>
        <p>Ein Use Case besteht aus mindestens einem Energiewandler
            und einem Nutzenergieverbraucher; typischerweise sind auch Nutzenergiespeicher vorhanden.</p>

        <p>Typische Use Cases können sein:<p>
            {{ form.use_cases }}

    </div>


    <div id="Fenster2" class="w3-container city" style="display:none">
        <!------------------------------------------------------------------->
        <!----------------- Fenster 2 --------------------------------------->
        <!------------------------------------------------------------------->
        <h4>Fenster 2</h4>
        <p>Bitte bewerten Sie die folgenden Gegebenheiten für den Use Case</p>
        <span>Planbarkeit des Nutzenergiebedarfs: </span>
        <span class="value"> {{form.planbarkeit_nutzenergiebedarf}}</span>
        <!-- <ul>                                                                                    -->
        <!--     <li>Auswahlmöglichkeit 1 "Verlaufsprognosen bekannt"</li>                          -->
        <!--     <li>Auswahlmöglichkeit 2 "keine Informationen über den zukünftigen Verlauf"</li> -->
        <!-- </ul>                                                                                   -->

        <br>
        <span>Ansteuerbarkeit über Leitsystem</span>
        <span class="value"> {{form.ansteuerbarkeit_ueber_leitsystem}}</span>


    </div>
    <!------------------------------------------------------------------->
    <!----------------- Fenster 3 --------------------------------------->
    <!------------------------------------------------------------------->

    <div id="Fenster3" class="w3-container city" style="display:none">

        <h4>Fenster 3</h4>
        <p>Soll die Flexibilität im Use Case durch Energiespeicherung oder durch Bivalenz zur Verfügung gestellt werden?</p>
        <div class="value"> {{form.flexibilität_im_usecase}}</div>

        <p> In der App müssen jetzt zwei Kenngrößen berechnet werden - der Leistungsindikator und der Zeitindikator.</p>

        <p>Fall a: Energiespeichernug</p>
        Im Falle der Bereitstellung durch Energiespeicherung ergeben sich der Leistungsindikator nach Formel 1 und der Zeitindikator nach Formel 2
        <table border=1>
            <tr>
                <th>
                    LI_speichern = P_anschluss - P_durchschnitt
                </th>
                <th>
                    Formel 1
                </th>
            </tr>
            <tr>
                <th>
                    ZI_speichern = 24h - Laufzeit_typtag
                </th>
                <th>
                    Formel 2
                </th>
            </tr>
        </table>

        <p>Fall B: Bivalenz</p>
        Im Falle der Bereitstellung von Flexibilität durch Bivalenz ergeben sich der Leistungsindikator nach Formel 3 und der Zeitindikator nach Formel 4
        <table>
            <tr>
                <th>
                    LI_bivalenz = P_durchschnitt
                </th>
                <th>
                    Formel 3
                </th>
            </tr>
            <tr>
                <th>
                    ZI_Bivalenz = Laufzeit_typtag
                </th>
                <th>
                    Formel 4
                </th>
            </tr>
        </table>

        <p>
            Der Nutzer muss abgefragt werden:

            <ul>
                <li>Wie hoch ist die Anschlussleistung des betrachteten Energiewandlers im Use-Case?
                    <span id="anschlussleistung" class="value">{{form.anschlussleistung_energiewandler}}</span>
                </li>
                <li>Wie hoch ist die durchschnittliche Leistungsaufnahme des betrachteten Energiewandlers im Use Case?
                    <span class="value">{{form.durchschnittliche_leistungsaufnahme_energiewandler}}</span>
                </li>
                <li>Was ist die typische Laufzeit des betrachteten Energiewandlers im regulären Betriebsfall? 
                    <span class="value">{{form.typische_laufzeit_energiewandler}}</span>
                </li>

            </ul>
            <p id="result"></p>

    </div>

    <div id="Fenster4" class="w3-container city">
        <!------------------------------------------------------------------->
        <!----------------- Fenster 4 --------------------------------------->
        <!------------------------------------------------------------------->
        <h4>Fenster 4</h4>
        <p>Möchten sie einen weiteren use case bewerten? (zwei checkboxen ja und nein)
            Fenster 1 und 2 wiederholens ich dann.
            So oft bis der nutzer keinen use case mehr untersuchen moechte, dann geht es zur ergebnisdarstellung aus schritt 1</p>

        <button id="save_button" class="usecase_speichern">Weiteren UseCase hinzufügen</button>
        <!-- <button class="w3-bar-item w3-button" onclick="openView('Fenster1')">Weiteren UseCase hinzufügen</button> -->
        <!-- <button type="submit" class="w3-bar-item w3-button" onclick="openView('Handlungsempfehlungen')">Fertig</button> -->
        <!-- <input name="clickme" type="submit"></input> -->


    </div>

    <!------------------------------------------------------------------->
    <!----------------- Fenster 5 --------------------------------------->
    <!------------------------------------------------------------------->

    <div id="Fenster5" class="w3-container city">
        <h4>Fenster 5</h4>
        Ergebnisdarstellung aus Schritt 1:

        <ul>
            <li>Zunächst hier bitte eine Tabelle ausgeben:
                Usecase |
                wert fuer leistungsindikator |
                wert fuer zeitindikator |
                weiter beruechsichtigen? (ja oder nein als auswahlmoeglichkeit vorsehen)
                <p> Die zeilen sollen in der Reienfolge der Eintragung erfolgen (also nicht irgendwie sort nach den Werten LI/ZI)</p>
                <p>Später wird hier vlt eine Portfoliodarstellung hinkommen, aber die waere jetzt erstmal komplizierter.</p>
            </li>
        </ul>


        <table style='border: 1px solid black'>
            <tr>
                <th> Bewertungskriterium </th>
                <th> Ausprägung </th>
                <th> Bewertungswert </th>
            </tr>

            <tr>
                <th> Steuerungsarten </th>
                <th> Frei steuerbar </th>
                <th> + </th>
            </tr>

            <tr>
                <th> Steuerungsarten </th>
                <th> Zeitgesteuert </th>
                <th> + </th>
            </tr>

            <tr>
                <th> Steuerungsarten </th>
                <th> Zustandsgesteuert </th>
                <th> 0 </th>
            </tr>

            <tr>
                <th> Steuerungsarten </th>
                <th> Prozessgesteuert </th>
                <th> - </th>
            </tr>

            <tr>
                <th> Prozessrelevanz </th>
                <th> Störung der Nutzenergieversorgung fürt nicht zum Ausfall wertschöpfender Prozesse </th>
                <th> + </th>
            </tr>

            <tr>
                <th> Prozessrelevanz </th>
                <th>Störung der Nutzenergieversorgung führt in weniger als acht Stunden zum Ausfall wertschöpfender Prozesse</th>
                <th> 0 </th>
            </tr>


            <tr>
                <th> Prozessrelevanz </th>
                <th>Störung der Nutzenergieversorgung führt in weniger als einer Stunde zum Ausfall wertschöpfender Prozesse</th>
                <th> 0 </th>
            </tr>

            <tr>
                <th> Prozessrelevanz </th>
                <th>Störung der Nutzenergieversorgung führt nahezu unmittelbar zum Ausfall wertschöpfender Prozesse</th>
                <th> 0 </th>
            </tr>


            <tr>
                <th> Zeitliche Entkopplung zwichen Endenergieaufnahme und Nutzenergiebedarf </th>
                <th>Nutzenergie-Speicher (z.B. Wärmespeicher)</th>
                <th> + </th>
            </tr>

            <tr>
                <th> Zeitliche Entkopplung zwichen Endenergieaufnahme und Nutzenergiebedarf </th>
                <th>Systemimmanente Speicherkapazitäten (Netze, Trägheiten)</th>
                <th> + </th>
            </tr>

            <tr>
                <th> Zeitliche Entkopplung zwichen Endenergieaufnahme und Nutzenergiebedarf </th>
                <th>Zielzustandstoleranzen des Systems (Nutzenergiebedarfstoleranzen)</th>
                <th> o </th>
            </tr>

            <tr>
                <th> Zeitliche Entkopplung zwichen Endenergieaufnahme und Nutzenergiebedarf </th>
                <th>Unmittelbare Nutzenergiebedarfsdeckung</th>
                <th> - </th>
            </tr>
        </table>

    </div>


    <div id="Resultat" class="w3-container city">
        <h4>Resultat Tabelle</h4>
        UseCase | Kriterium | Bewertungswert | Gesamtwertung (=auf ganze Zahl abgerundetet Mittelwert)
    </div>

    <div id="Handlungsempfehlungen" class="w3-container city">
        <h4>Handlungsempfehlungen</h4>
        Soll erscheinen wenn die Gesamtwertung des Bestwert (3) unterschreitet.

        Falls im Kriterum Steuerungsarten nicht die beste Bewertung gegeben wurde, dann schlage folgendes vor:
        "Ersetze Wandler durch eine geeignetere Variante oder installiere einen Smart Connector" (Sinnhaftigkeit muss nochmal überdacht werden)

        Wenn Kriterium "Prozessrelevanz" nicht die beste Bewertung vergeben wurde, dann schlage Folgendes vor: "Schaffe eine Systemredundanz."

        Wenn im Kriterium "Zeitliche Entkopplung" nicht die beste Bewertung vergeben wurde, dann schlage folgendes vor:
        "Vergrößere Nutzenergiespeicher"
    </div>


    </table>

</form>

        <script>
        // All given use cases
        var use_cases = [];


        // save_usecase button
        $("#save_button").click(function() {

            // create new list html
            use_cases.push("use_case " + use_cases.length);
            var usecase_list = ""
            use_cases.forEach(function(name) {
                usecase_list = usecase_list + "\n" + "<li>" + name + "</li>";
            });

            // update old list
            $('#usecase_list').html(usecase_list);

            // Jump to window 1
        openView('Fenster1')
        });
        </script>

<!-- Plots -->

{% endblock %}
