{% extends 'base.html' %}

{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<style>
.headertitle {
    font-weight: bolder;
    font-size: 50px;
    margin-left: 0px;
    padding-left: 0px;
}
    .subtitle {
        font-weight: bolder;
    }

    .gridwrap {
        display: grid;
        grid-template-columns:40% 60%;
    }

    .gridwrap2 {
        display: grid;
        grid-template-columns:40% 60%;
    }

    /* styling */
    select {
        width:100%;
        border: 0px solid #bbb;
        box-shadow: 0 0px 1px 0 rgba(0,0,0,0.2);
        background-color:#ffffff;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image:url(/static/dropdown.svg);
        background-position: right;
        background-size: 10px;
        background-repeat: no-repeat;
        border-radius: 20px;
        height: 40px;
        padding-left: 30px;
        margin: 1px;
    }
    input[type=number] {

        border: 0px solid #bbb;
        width: 100%;
        background-color:#ffffff;
        margin: 1px;
        box-sizing: border-box;
        border-radius: 4px;
        resize: none;
        border-radius: 20px;
        height: 40px;
        padding-left: 30px;
}
    }

    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
    }

    input[type="checkbox"] + label::before {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        border: 0px solid #8cad2d;
        background-color: #fff;
        display: block;
        content: "";
        float: left;
        margin-right: 5px;
    }

    input[type="checkbox"]:checked+label::before {
        box-shadow: inset 0px 0px 0px 3px #fff;
        background-color: #8cad2d;
    }

    select:hover {
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    }

    .mainUI {
        background-color: #D9E3EB;
    }
    .buttonclass {
      background-color: #278F9D; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: fixed;
      bottom: 10px;
    }
    body {
        background-color: #D9E3EB;
    }


</style>

<!-------------------------------------------------------->
<!----------------- Progress bar ------------------------->
<!-------------------------------------------------------->
<p id="progressbar_html">&nbsp;</p>


<!---<div id="temp">
</div>-->

<div class="container">
    <h1 class="title">Betriebsoptimierungstool</h1>
</div>


<!--
    Usecase tabs have to occur here and not in form tag,
    otherwise one gets csrf token error.
-->

<form class='container mainUI' action="" method="post">
    {% csrf_token %}
    <h4 class="subtitle">Konfiguration des Szenarios</h4>


    <!------------------------------------------------------------------->
    <!----------------- Konfiguration des Szenarios --------------------->
    <!------------------------------------------------------------------->
    <div id="Szenario" class="window">
        <table width="80%">
            <tr>
                <td>
                    <div class="label">Welche Jahreszeit soll betrachtet werden?</div>
                </td>
                <td>
                    <div class="value">{{form.jahreszeit}}</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="label">Welche KW soll dargestellt werden?</div>
                </td>
                <td>
                    <div class="value">{{form.kalenderwoche}}</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="label">Welche Betriebsstrategie soll getestet werden?</div>
                </td>
                <td>
                    <div class="value">{{form.betriebsstrategie}}</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="label">Welcher Use-Case soll betrachtet werden</div>
                </td>
                <td>
                    <div class="value" id="parametrisierung">{{form.use_case}}</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="label">Regelleistungs-Check durchführen?</div>
                </td>
                <td align='center'>
                    <div class="value">{{form.regelleistungscheck}}</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="label">Zeitfenster (h)</div>
                </td>
                <td>
                    <div class="value">{{ form.zeitfenster }}</div>
                </td>
            </tr>


            <tr><td colspan="2"><b><br>Welche statischen Steuern und Umlagen sollen berücksichtigt werden (ct/kWh)?</b></td></tr>

        <tr>
            <td>
                <div class="label">Netzentgelte</div>
            </td>
            <td>
                <div class="value">{{ form.netzentgelte }}</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="label">EEG-Umlage</div>
            </td>
            <td>
                <div class="value">{{ form.eeg_umlage }}</div>
            </td>
        </tr>


        <tr>
            <td>
                <div class="label">Stromsteuer</div>
            </td>
            <td>
                <div class="value">{{ form.stromsteuer }}</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="label">Konzessionsabgabe</div>
            </td>
            <td>
                <div class="value">{{ form.konzessionsabgabe }}</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="label">Sonstige (z.B. KWK)</div>
            </td>
            <td>
                <div class="value">{{ form.sonstige }}</div>
            </td>
        </tr>


        <tr>
            <td>
                <div class="label">Mehrwertsteuer berücksichtigen</div>
            </td>
            <td align='center'>
                <div class="value">{{ form.mehrwertsteuer_bool }}</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="label">Höhe der CO2-Steuer [€/t]</div>
            </td>
            <td>
                <div class="value" id="co2_steuer">{{ form.co2_steuer }}</div>
            </td>
        </tr>

        <!-- <tr>                                                                                       -->
        <!--     <td>                                                                                   -->
        <!--         <output for="co2_steuer" id="co2_steuer_value">{{ form.co2_steuer.data }}</output> -->
        <!--     </td>                                                                                  -->
        <!-- </tr>                                                                                      -->


        <tr>
            <td>
                <div class="label">Dynamik der EEG-Umlage [%]</div>
            </td>
            <td>
                <div class="value">{{ form.dynamik_eeg_umlage }}</div>
            </td>
        </tr>

        <!-- <tr>                                                                                                               -->
        <!--     <td>                                                                                                           -->
        <!--         <output for="dynamik_eeg_umlage" id="dynamik_eeg_umlage_value">{{ form.dynamik_eeg_umlage.data }}</output> -->
        <!--     </td>                                                                                                          -->
        <!-- </tr>                                                                                                              -->


        <tr>
            <td>
                <div class="label">Schwankungsbreite des Strompreises [%]</div>
            </td>
            <td>
                <div class="value">{{ form.schwankungsbreite_strompreis }}</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="label">Gaspreis [ct/kWh]</div>
            </td>
            <td>
                <div class="value">{{ form.gaspreis }}</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="label">Emissionen Gas [kg/MWh]</div>
            </td>
            <td>
                <div class="value">{{ form.emissionen_gas }}</div>
            </td>
        </tr>
    </table>


        <button type="button" style="left: 40%;" class="buttonclass moog_nav_inactive" onclick="openView('Parametrisierung')">Weiter</button>

        <br> <br> <br> <br> 
    </div>

    <!------------------------------------------------------------------>
    <!--------------- Parametrierung des Use-Case "BHKW" --------------->
    <!------------------------------------------------------------------>


    <div id="BHKW" class="expandable tabcontent window" style="display:none">
            <div><h4 class="subtitle">Parametrierung des Use-Case "BHKW"</h4></div><br>
            <div><h4>Technische Parameter BHKW</h4></div><br>

            <table>

                <tr>
                    <td>
                        <div class="label">Gesamtwirkungsgrad</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_gesamtwirkungsgrad }}</div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Wirkungsgrad bei maximaler Auslastung</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_wirkungsgrad_maximale_auslastung }}</div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Wirkungsgrad bei minimaler Auslastung</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_wirkungsgrad_minimale_auslastung }}</div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Thermische Trägheit</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_thermische_traegheit }}</div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Maximale elektrische Leistung</div>
                    </td>
                    <td>
                            {{ form.bhkw_maximale_elektrische_leistung }}
                    </td>
                    <td width="100px">
                        in kW
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Minimale elektrische Leistung</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_minimale_elektrische_leistung }}</div>
                    </td>
                    <td>
                        in kW
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Kosten pro Schaltvorgang</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_kosten_pro_schaltvorgang }}</div>
                    </td>
                    <td>
                        in ct
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Fehler Anfahrenergie (negativer Wert)</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_fehler_anfahrenergie }}</div>
                    </td>
                    <td>
                        in kW
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <br><h4>Technische Parameter Spitzenlastkessel</h4>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Maximale Leistung</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_maximale_leistung }}</div>
                    </td>
                    <td>
                        in kW
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Wirkungsgrad</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_wirkungsgrad }}</div>
                    </td>
                </tr>


                <tr>
                    <td colspan="2">
                     <br>   <h4>Wärmespeicher</h4>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">maximale Leistung beim Einspeichern</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_max_leistung_einsspeichern }}</div>
                    </td>
                    <td>
                        in kW
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">maximale Leistung beim Ausspeichern</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_max_leistung_ausspeichern }}</div>
                    </td>
                    <td>
                        in kW
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Maximaler Ladezustand</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_maximaler_ladezustand }}</div>
                    </td>
                    <td>
                        in kWh
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Standby-Verluste des Wärmespeichers</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_standby_verluste_waermespeicher }}</div>
                    </td>
                    <td>
                        in kWh
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Wärmeverlust im Speicher relativ zu Ladezustand</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_waermeverlust_relativ_ladezustand }}</div>
                    </td>
                    <td>
                        in %
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Wirkungsgrad beim Einspeichern</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_wirkungsgrad_einspeichern }}</div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Wirkungsgrad beim Ausspeichern</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_wirkungsgrad_ausspeichern }}</div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <br><h4>Anfangsbedingungen</h4>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Anfangszustand der BHKWs</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_anfangszustand }}</div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Startwert der elektrischen Leistung</div>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_startwert_el_leistung }}</div>
                    </td>
                    <td>
                        in kW
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="label">Start-SOC</div>
                    </td>
                    <td>
                        {{ form.bhkw_start_soc }}<div style="pad-left:10px;"> Startwert Speicherladezustand in %, SOC = State of Charge</div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <br><h4>Wärmebedarf für die Simulation</h4>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span>
                            Konstanter Wärmebedarf
                            {{ form.bhkw_konstanter_waermebedarf_bool }}
                        </span>
                    </td>
                    <td>
                        <span class="value">{{ form.bhkw_konstanter_waermebedarf }}</span>
                    </td>
                    <td>
                        in kW
                    </td>
                </tr>


                <tr>
                    <td>
                        <span class="label">
                            Wärmeverlauf verwenden
                            {{ form.bhkw_waermeverlauf_verwenden_bool }}
                        </span>
                    </td>
                    <td>
                        <div class="value">{{ form.bhkw_waermeverlauf_verwenden }} Noch kein Wärmebedarf geladen... TODO</div>
                    </td>
                </tr>
            </table>

            {{ form.bhkw_parameter_submit }}

        <button type="button" style="left: 20%;" class="buttonclass moog_nav_inactive" onclick="openView('Szenario')">Zurück</button>
        <!-- <button type="button" style="left: 40%;" class="buttonclass moog_nav_inactive" onclick="openView('Plots')">Weiter</button> -->
        <input style="color:white; background-color: #278F9D; left: 40%;" class="buttonclass moog_nav_inactive" type="submit" onclick="openView('Plots')" value="Simuliere" />
    </div>


    <!------------------------------------------------------------------>
    <!------------- Parametrierung des Use-Case "Bivalenz" ------------->
    <!------------------------------------------------------------------>

    <div id="Bivalenz" class="expandable tabcontent window" style="display:none">

        <div>
            <h2>Parametrierung des Use-Case "Bivalenz"</h2><br>
            <h4>Wärmebedarf</h4><br>

            <table cellpadding="10">
                <tr>
                    <td>
                        Konstanter Wärmebedarf
                    </td>
                    <td>
                        {{ form.bivalenz_konstanter_waermebedarf_bool }}
                    </td>
                    <td>
                        {{ form.bivalenz_konstanter_waermebedarf }}
                    </td>


                    <tr>
                        <td>
                            Wärmeverlauf verwenden
                        </td>
                        <td>
                            {{ form.bivalenz_waermeverlauf_verwenden_bool }}
                        </td>
                        <td>
                            {{ form.bivalenz_waermeverlauf_verwenden }}
                        </td>
            </table>
                    </tr>

            {{ form.bivalenz_parameter_submit }}
        </div>

        <button type="button" style="left: 20%;" class="buttonclass moog_nav_inactive" onclick="openView('Szenario')">Zurück</button>
        <!-- <button type="button" style="left: 40%;" class="buttonclass moog_nav_inactive" onclick="openView('Plots')">Weiter</button> -->
        <input style="color:white; background-color: #278F9D; left: 40%;" class="buttonclass moog_nav_inactive" type="submit" onclick="openView('Plots')" value="Simuliere" />
    </div>



    <!------------------------------------------------------------------>
    <!------------- Parametrierung des Use-Case "Hysterese" ------------>
    <!------------------------------------------------------------------>

    <div id="Hysterese-Allgemein" class="expandable tabcontent gridwrap window" style="display:none">
        <h2>Parametrierung des Use-Case "Hysterese"</h2>
        <br>
        <h4>Technische Parameter</h4>

        <table width="80%" cellpadding="1">

            <tr>
                <td>
                    <div class="label">Kapazität</div>
                </td>
                <td>
                    <div class="value">{{ form.hysterese_kapazität }}</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="label">Elektrische Leistung</div>
                </td>
                <td>
                    <div class="value">{{ form.hysterese_elektrische_leistung }}</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="label">Dynamische Verluste</div>
                </td>
                <td>
                    <div class="value">{{ form.hysterese_dynamische_verluste }}</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="label">Heizung/Kühlung</div>
                </td>
                <td>
                    <div class="value">{{ form.hysterese_heizung_kuehlung }}</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="label">Wirkungsgrad</div>
                </td>
                <td>
                    <div class="value">{{ form.hysterese_wirkungsgrad }}</div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <br><h4>Anfangsbedingungen</h4>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="label">Start-SOC</div>
                </td>
                <td>
                    <div class="value">{{ form.hysterese_start_soc }}</div>
                </td>
            </tr>


            <tr>
                <td colspan="2">
                    <br><h4>Wärmebedarf für die Simulation</h4>
                </td>
            </tr>


            <tr>
                <td>
                    <span class="label">Konstanter Wärmebedarf
                        {{ form.hysterese_konstanter_waermebedarf_bool }}
                    </span>
                </td>
                <td>
                    <div class="value">{{ form.hysterese_konstanter_waermebedarf }}</div>
                </td>
            </tr>


            <tr>
                <td>
                    <span class="label">Wärmeverlauf verwenden
                    {{ form.hysterese_waermeverlauf_verwenden_bool }}
                    </span>
                </td>
                <td>
                    <div class="value">{{ form.hysterese_waermeverlauf_verwenden }}</div>
                </td>
            </tr>



            <tr>
                <td>
                    <div class="label">Konfigurationsbeispiele:</div>
                </td>
                <td>
                    <div class="value">{{ form.hysterese_beispiele }} </div>
                </td>
            </tr>


            <!-- {{ form.hysterese_parameter_submit }} -->

            <tr>
                <td>
                    <div class="label">Welche Parameter sollen simuliert werden? </div>
                </td>
                <td>
                    <div class="value">{{form.auswahl_parametrisierung}}</div>
                </td>
            </tr>

        </table>

        <button type="button" style="left: 20%;" class="buttonclass moog_nav_inactive" onclick="openView('Szenario')">Zurück</button>
        <!-- <button type="button" style="left: 40%;" class="buttonclass moog_nav_inactive" onclick="openView('Plots')">Weiter</button> -->
        <input style="color:white; background-color: #278F9D; left: 40%;" class="buttonclass moog_nav_inactive" type="submit" onclick="openView('Plots')" value="Simuliere" />

    </div>
    </div>

    </div>

    </div>

    <div id="results">
    </div>
</form>

<!-- Plots -->
<div id='Plots' class='window' style="margin:auto;width:65%;height:400px;display:none;">
    <table>
            <tr>
                <td>
                    <div class="label">Gesamtkosten [€]</div>
                </td>
                <td>
                    <div class="value">{{ form.gesamtkosten }}</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="label">Emissionen [t]</div>
                </td>
                <td>
                    <div class="value">{{ form.emissionen }}</div>
                </td>
            </tr>
    </table>

<br><br>
<div id="Regelleistung">
</div>


    <br><br>
    <a href="#section_plots">
        <a id="section_plots">
            <h1>Ergebnis</h1>
        </a>
    </a>

    <canvas id="plot1" width="400" height="100"></canvas>
    <canvas id="plot2" width="400" height="100"></canvas>
    <canvas id="plot3" width="400" height="100"></canvas>
    <canvas id="plot4" width="400" height="100"></canvas>

    <button type="button" style="left: 20%;" class="buttonclass moog_nav_inactive" onclick="openView('Parametrisierung')">Zurück</button>
</div>



<img style="position: fixed; width:200px; bottom:20px; left:20px;" src="/static/Logo_KoProj_SynErgie_4c_RZ.png"/>
<img style="position: fixed; width:200px; bottom:20px; right:20px;" src="/static/BMBF_gefoerdert_2017_de.png"/>



<script>


    function move_progress(amount) {
        var myElement = document.getElementById("progressbar_html");
        myElement.style.background = "linear-gradient(to right, #57c2c1 " + amount + "%, #4a4a52 " + amount + "%)";
        console.log('moving: ' + amount);
    }

    // Show given window, hide all others and set progress bar
    function openView(windowName) {

        console.log('opening view: ' + windowName);
        if (windowName == 'Szenario') {
            move_progress(0);
        } else if ((windowName == 'Bivalenz') || (windowName == 'BHKW') || (windowName == 'Hysterese-Allgemein') || (windowName == 'Parametrisierung') ) {
            move_progress(50);
        } else if (windowName == 'Plots') {
            move_progress(100);
        }

        var i;
        var x = document.getElementsByClassName("window");

        // Hide all windows
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }

        // Show given view
        if (windowName == "Parametrisierung") {
            var window = $('#parametrisierung option:selected').text();
            document.getElementById(window).style.display = "block";
        } else {
            document.getElementById(windowName).style.display = "block";
        }
    }


    function result_modal_fcn() { 
        {% if plot_data.Regelleistung_zu %}console.log({{plot_data.Regelleistung_zu}})
        var testtt = {{ plot_data.Regelleistung_ab }};
        console.log(testtt);

        var Gesamtkosten     = $('#{{form.Gesamtkosten.auto_id}}').val();
        var Gesamtemissionen = $('#{{form.Gesamtemissionen.auto_id}}').val();
        var Regelleistung_zu = $('#{{form.Regelleistung_zu.auto_id}}').val();
        var Regelleistung_ab = $('#{{form.Regelleistung_ab.auto_id}}').val();
        var resultstring = "";

        if (Gesamtkosten) {
            resultstring += 'Gesamtkosten: ' + Gesamtkosten + "<br>Gesamtemissionen: " + Gesamtemissionen;
        }
        if (Regelleistung_zu) {
            resultstring += "<br>" + "Regelleistung_zu: " + Regelleistung_zu + "Regelleistung_ab: " + Regelleistung_ab;
        
        }
        $('#results').html(resultstring);
        {% endif %}
    }
    result_modal_fcn();
</script>

<script>

        $("#id_hysterese_beispiele").click(function () {
            if (this.value == "Schaltschrank") {
                $("#{{form.hysterese_kapazität.auto_id}}").val(0.093);
                $("#{{form.hysterese_elektrische_leistung.auto_id}}").val(0.013);
                $("#{{form.hysterese_heizung_kuehlung.auto_id}}").val(0.5);
            } else if (this.value == "Ölbad") {
                $("#{{form.hysterese_kapazität.auto_id}}").val(0.8925);
                $("#{{form.hysterese_elektrische_leistung.auto_id}}").val(2.8);
                $("#{{form.hysterese_heizung_kuehlung.auto_id}}").val(1);
            } else if (this.value == "MiniGalvanik") {
                $("#{{form.hysterese_kapazität.auto_id}}").val(1400);
                $("#{{form.hysterese_elektrische_leistung.auto_id}}").val(100);
                $("#{{form.hysterese_heizung_kuehlung.auto_id}}").val(1);
            }
        });
</script>

<script>
    var Gesamtkosten = {{ plot_data.Gesamtkosten }};
    var Gesamtemissionen = {{ plot_data.Gesamtemissionen }};
    var Regelleistung_zu = {{ plot_data.Regelleistung_zu }};
    var Regelleistung_ab = {{ plot_data.Regelleistung_ab }};

    var Regelleistung_zu = $('#{{form.Regelleistung_zu.auto_id}}').val();
    var Regelleistung_ab = $('#{{form.Regelleistung_ab.auto_id}}').val();

    $('#temp').html(Gesamtkosten);
    $('#Regelleistung').html("<table><tr><td>Regelleistung zu: </td><td>" + Regelleistung_zu + "</td></tr><tr><td>Regelleistung_ab: " + Regelleistung_ab + "</td></tr></table>");
    $("#{{form.gesamtkosten.auto_id}}").val(Gesamtkosten);
    $("#{{form.emissionen.auto_id}}").val(Gesamtemissionen);


    // Show error alert
    var errors = "{{ plot_data.Fehler.1 }}"
    if (errors != 0) {
        alert("Fehler: " + errors);
    }

    function showScenario(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        //evt.currentTarget.className += " active";
    }
    //$("#id_use_case").change(function() {
    //    <!-- alert(this.value); -->
    //        showScenario(this.value, this.value);
    //});



    // Hides all parametrization views
    function clear_param() {
        document.getElementById("BHKW").style.display = "none";
        document.getElementById("Bivalenz").style.display = "none";
        document.getElementById("Hysterese-Allgemein").style.display = "none";
        document.getElementById("Plots").style.display = "none";
    }

    // Hide parametrization views at start
    clear_param();

    // Show default view "Bivalenz"
    // document.getElementById("Bivalenz").style.display = "block";


    // Show default view "Bivalenz"
    // deprecated since switchging to tabs
    // document.getElementById("Bivalenz").style.display = "block";

    // Show parametrization view that gets selected in dropdown
    // hide all others
    //$('#parametrisierung').change( function() {
    //    clear_param();
    //    var x = $('#parametrisierung option:selected').text();
    //    document.getElementById(x).style.display = "block";
    //});

    // (Slider <-> Value-Label) bindings
    $('#co2_steuer_value').change( function(event, ui) {
        this.innerHTML = "foobar";
    });

    // Plot
    var ctx1 = document.getElementById('plot1').getContext('2d');
    var ctx2 = document.getElementById('plot2').getContext('2d');
    var ctx3 = document.getElementById('plot3').getContext('2d');
    var ctx4 = document.getElementById('plot4').getContext('2d');

    // Show parametrization view that gets selected in dropdown
    // hide all others
    //$('#parametrisierung').change( function() {
    //    clear_param();
    //    var x = $('#parametrisierung option:selected').text();
    //    document.getElementById(x).style.display = "block";
    //});

    </script>
    <script>

    // Plots
    var plot1 = new Chart(ctx1, {
        type: 'line',
        data: {
            labels: {{ plot_data.Verlauf_spezifische_Emissionen.0 }},
            datasets: [{
                label: 'Verlauf spezifischer Emissionen',
                data: {{ plot_data.Verlauf_spezifische_Emissionen.1 }},
                backgroundColor: 'rgba(50, 200, 132, 0.0)',
                borderColor: 'rgba(0, 99, 132, 1.0)',
                borderWidth: 2,
                pointBorderColor: 'rgba(0,0,0,0)',
                yAxisID: 'y-axis-1'
            }, {
                label: 'Strompreisverlauf',
                data: {{ plot_data.Strompreisverlauf }},
                backgroundColor: 'rgba(50, 200, 64, 0.0)' ,
                borderColor:  'rgba(50, 200, 64, 1)' ,
                borderWidth: 2,
                pointBorderColor: 'rgba(0,0,0,0)',
                yAxisID: 'y-axis-2',
            }]
        },
        options: {
            scales: {
                yAxes: [
                    {
                        type: 'linear',
                        display: true,
                        position: 'left',
                        id: 'y-axis-1',
                        ticks: { beginAtZero: true }
                    },
                    {
                        type: 'linear',
                        display: true,
                        position: 'right',
                        id: 'y-axis-2',
                        ticks: { beginAtZero: true },
                        gridLines: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                    },
                ]
            }
        }
    });

    var plot2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: {{ plot_data.Wärmebedarf.0 }},
            datasets: [{
                label: 'Wärmebedarf',
                data: {{ plot_data.Wärmebedarf.1 }},
                backgroundColor: 'rgba(50, 200, 132, 0.0)',
                borderColor: 'rgba(0, 99, 132, 1.0)',
                borderWidth: 2,
                pointBorderColor: 'rgba(0,0,0,0)',
                yAxisID: 'y-axis-1',
            }]
        },
        options: {
            scales: {
                yAxes: [
                    {
                        type: 'linear',
                        display: true,
                        position: 'left',
                        id: 'y-axis-1',
                        ticks: { beginAtZero: true }
                    },
                ]
            }
        }
    });


    var plot3 = new Chart(ctx3, {
        type: 'line',
        data: {
            labels: {{ plot_data.Lastgang_SOLL_el.0 }},
            datasets: [{
                label: 'Lastgang elektrisch',
                data: {{ plot_data.Lastgang_SOLL_el.1 }},
                backgroundColor: 'rgba(50, 200, 132, 0.0)',
                borderColor: 'rgba(0, 99, 132, 1.0)',
                borderWidth: 2,
                pointBorderColor: 'rgba(0,0,0,0)',
                yAxisID: 'y-axis-1',
            }]
        },
        options: {
            scales: {
                yAxes: [
                    {
                        type: 'linear',
                        display: true,
                        position: 'left',
                        id: 'y-axis-1',
                        ticks: { beginAtZero: true }
                    },
                ]
            }
        }
    });


    var plot4 = new Chart(ctx4, {
        type: 'line',
        data: {
            labels: {{ plot_data.Lastgang_SOLL_Gas_oder_SOC.0 }},
            datasets: [{
                label: 'Lastgang Gas',
                data: {{ plot_data.Lastgang_SOLL_Gas_oder_SOC.1 }},
                backgroundColor: 'rgba(50, 200, 132, 0.0)',
                borderColor: 'rgba(0, 99, 132, 1.0)',
                borderWidth: 2,
                pointBorderColor: 'rgba(0,0,0,0)',
                yAxisID: 'y-axis-1',
            }]
        },
        options: {
            scales: {
                yAxes: [
                    {
                        type: 'linear',
                        display: true,
                        position: 'left',
                        id: 'y-axis-1',
                        ticks: { beginAtZero: true }
                    },
                ]
            }
        }
    });

    console.log("Plots_window: " + {{ plots_window }});
    
    if ({{ plots_window }}) {
        document.getElementById("Plots").style.display = "block";
        openView('Plots');
    } else {
        openView('Szenario');
    }

</script>

{% endblock content %}
