{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <form  method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="row">
      <div class="col-9">
        <div class="card">
          <div class="card-header">Synergie - Konfigurationstool</div>
          <div class="card-body">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'app1-start' %}">Modell auswählen</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'app1-step1' %}">Modell entpacken</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'app1-step2' %}">Parameter setzen</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"href="{% url 'app1-step3' %}">Flexibilisierung auswählen</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'app1-results' %}">Ergebnisse</a>
              </li>
            </ul>
            <hr>
          </div>

          <div class="card-footer">
            <a class="btn btn-primary" href="{% url 'app1-info' %}">Zurück</a>
            <button class="btn btn-primary float-right" type="submit">Weiter</button>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-header info"><i class="fas fa-info-circle mr-2"></i>Info-Box</div>
          <div class="card-body">
            <p>some info on what to do Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus eum magnam cum. Blanditiis deserunt dolor obcaecati, adipisci ipsum eos incidunt iste suscipit magnam facilis, accusantium quos, iure unde autem! Au</p>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div id="loading" style="display:none;">
    <img src="{% static 'img/46.svg' %}" />
  </div>

{% endblock content %}