{% extends 'app1/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="row">
    <div class="col-9">
      <div class="card shadow">
        <div class="card-header custom-header">
            <h6 class="d-inline"> <span class="font-weight-bold">EASER</span>  | Energy Analysis Support for Engineers and Decision-makers</h6>      
        </div>
        
        <div class="card-body">

          <p>EASER unterstützt die Planung von energieoptimalen Kälte- und Wärmeversorgungssystemen in Produktionsbetrieben. 
            Sie geben den Untersuchungsrahmen sowie die technischen und ökonomischen Randbedingungen Ihres Planungsvorhabens vor und 
            EASER ermittelt für Sie die kostenoptimale Konfiguration (Technologieauswahl und Dimensionierung) des Versorgungssystems.
          </p> 

          <p>Der Fokus liegt dabei auf Investitionsausgaben und Energiekosten. Durch die zusätzliche Einbeziehung schwankender Strompreise 
            sind mögliche Entwicklungen durch den steigenden Anteil volatiler Erneuerbarer Energien berücksichtigt. 
            EASER basiert auf einer objektorientierten Simulation in der Programmiersprache Modelica. Für die Nutzung 
            von EASER werden allerdings keine Programmierkenntnisse benötigt, sondern Sie können Ihre Untersuchungen 
            bequem über die webbasierte Oberfläche durchführen. 
          </p>
          

          </div>
        <div class="card-footer">
          <a href="{% url 'app1-start' %}"><button class="btn btn-primary btn-sm float-right">Konfigurationstool Starten</button></a>
        </div>
      </div> 

      <h6>Damit EASER Ihre Eingaben verwerten kann, verwenden 
          Sie bitte folgende Vorlagen:</h6>
          <hr>  

      
      <div class="card shadow">
        <div class="card-header">
            <h6 class="d-inline">Parametersets</h6>      
        </div>
        
        <div class="card-body">
            <p>                
              In sogenannten Parametersets können Sie die technischen Größen der zu untersuchenden Einzelkomponenten eintragen. Falls Sie die Daten nicht vorliegen haben, kann Ihnen üblicherweise der Hersteller Auskunft geben. Ansonsten können Sie auch auf die bestehende Datenbank von EASER zurückgreifen. 
            </p> 
            <a href="{{ records }}">Laden sie hier die Records runter</a>
            <br>
            <a href="{{ tables }}">Laden sie hier die tables runter</a>    
          </div>
      </div>

      <div class="card shadow">
          <div class="card-header">
              <h6 class="d-inline">Kälte- und Wärmebedarfe</h6>      
          </div>
          
          <div class="card-body">

            <p>                
              Benötigte Temperaturniveaus der Kälte- bzw. WärmeverbraucherDie Temperaturniveaus geben Sie bitte in folgender Form vor:
            </p> 
            <a href="">Link zu den Datenbanken</a>  
            
            <p class="mt-3">
              Lastgänge für die benötigte Kälte- bzw. WärmeleistungDie Lastgänge geben Sie bitte in folgender Form vor:                 
            </p>
            <a href="">Link zu den Datenbanken</a>
               
          </div>

        </div>

        <div class="card shadow">
            <div class="card-header">
                <h6 class="d-inline">Wetterdaten</h6>      
            </div>
            
            <div class="card-body">
                <p>                
                  In sogenannten Parametersets können Sie die technischen Größen der zu untersuchenden Einzelkomponenten eintragen. Falls Sie die Daten nicht vorliegen haben, kann Ihnen üblicherweise der Hersteller Auskunft geben. Ansonsten können Sie auch auf die bestehende Datenbank von EASER zurückgreifen. 
                </p> 
                <a href="">Link zu den Datenbanken</a>  
              </div>
          </div>

          <div class="card shadow">
              <div class="card-header">
                  <h6 class="d-inline">Strommarktdaten</h6>      
              </div>
              
              <div class="card-body">
                  <p>                
                    In sogenannten Parametersets können Sie die technischen Größen der zu untersuchenden Einzelkomponenten eintragen. Falls Sie die Daten nicht vorliegen haben, kann Ihnen üblicherweise der Hersteller Auskunft geben. Ansonsten können Sie auch auf die bestehende Datenbank von EASER zurückgreifen. 
                  </p> 
                  <a href="">Link zu den Datenbanken</a>  
                </div>
            </div>

            
          <div class="card shadow">
              <div class="card-header">
                  <h6 class="d-inline">Basisdaten zur Wirtschaftlichkeitsrechnung </h6>      
              </div>
              
              <div class="card-body">
                  <p>                
                    In sogenannten Parametersets können Sie die technischen Größen der zu untersuchenden Einzelkomponenten eintragen. Falls Sie die Daten nicht vorliegen haben, kann Ihnen üblicherweise der Hersteller Auskunft geben. Ansonsten können Sie auch auf die bestehende Datenbank von EASER zurückgreifen. 
                  </p> 
                  <a href="">Link zu den Datenbanken</a>  
                </div>
            </div>



            


    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-header info"><i class="fas fa-info-circle mr-2"></i>Info-Box</div>
        <div class="card-body">
          <p>some info on what to do Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus eum magnam cum. Blanditiis deserunt dolor obcaecati, adipisci ipsum eos incidunt iste suscipit magnam facilis, accusantium quos, iure unde autem! Au</p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
