{% extends 'app1/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header custom-header">
            <h6 class="d-inline"> <span class="font-weight-bold">EASER</span>  | Energy Analysis Support for Engineers and Decision-makers</h6>      
        </div>
        
        <div class="card-body">

          <p>EASER unterstützt die Planung von energieoptimalen Kälte- und Wärmeversorgungssystemen in Produktionsbetrieben. 
            Sie geben den Untersuchungsrahmen sowie die technischen und ökonomischen Randbedingungen Ihres Planungsvorhabens vor und 
            EASER ermittelt für Sie die kostenoptimale Konfiguration (Technologieauswahl und Dimensionierung) des Versorgungssystems.
          </p> 

          <p>Der Fokus liegt dabei auf Investitionsausgaben und Energiekosten. Durch die zusätzliche Einbeziehung schwankender Strompreise 
            sind mögliche Entwicklungen durch den steigenden Anteil volatiler Erneuerbarer Energien berücksichtigt. 
            EASER basiert auf einer objektorientierten Simulation in der Programmiersprache Modelica. Für die Nutzung 
            von EASER werden allerdings keine Programmierkenntnisse benötigt, sondern Sie können Ihre Untersuchungen 
            bequem über die webbasierte Oberfläche durchführen. 
          </p>
          <div class="alert alert-warning" role="alert">
            <i class="far fa-lightbulb"></i> Bitte lesen sie zunächst die 
            <a href="{% url 'dashboard-view'%}">Dokumentation</a> zu dieser App!
          </div>
          

          </div>
        <div class="card-footer">
          <a href="{% url 'app1-start' %}"><button class="btn btn-primary btn-sm float-right">Konfigurationstool Starten</button></a>
        </div>
      </div> 

            


    </div>

    <!-- <div class="col-3">
      <div class="card">
        <div class="card-header info"><i class="fas fa-info-circle mr-2"></i>Info-Box</div>
        <div class="card-body">
          <p>some info on what to do Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus eum magnam cum. Blanditiis deserunt dolor obcaecati, adipisci ipsum eos incidunt iste suscipit magnam facilis, accusantium quos, iure unde autem! Au</p>
        </div>
      </div>
    </div> -->
  </div>

{% endblock content %}
