{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
  <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-1.3.2.min.css"/>
  <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.2.min.css"/>
  <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.2.min.css"/>
  <link href="{% static 'css/app1.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
  <form  method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="row">
      <div class="col-xl-9">
        <div class="card shadow">
          <h6 class="card-header custom-header">EASER | {% block card-titel %}{% endblock %}</h6>
          <div class="card-body">
            <ul class="nav nav-tabs nav-justified">
              <li class="nav-item">
                <a class="nav-link {% if step == 0 %}active{% endif %} " {% comment %}href="{% url 'app1-start' %}"{% endcomment %}>
                 Ablage {% if file_chosen %}<span style="color: green;"><i class="fas fa-check-circle mx-1" style="opacity: .4;"></i></span>{% endif %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if step == 1 %}active{% endif %} " {% comment %}href="{% url 'app1-start' %}"{% endcomment %}>
                  Modell {% if model_unpacked %}<span style="color: green;"><i class="fas fa-check-circle mx-1" style="opacity: .4;"></i></span>{% endif %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if step == 2 %}active{% endif %} " {% comment %}href="{% url 'app1-start' %}"{% endcomment %}>
                  Konfiguration {% if params_uploaded %}<span style="color: green;"><i class="fas fa-check-circle mx-1" style="opacity: .4;"></i></span>{% endif %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if step == 4 %}active{% endif %} " {% comment %}href="{% url 'app1-start' %}"{% endcomment %}>
                  Ergebnisse {% if results %}<span style="color: green;"><i class="fas fa-check-circle mx-1"></i></span>{% endif %}
                </a>
              </li>
            </ul>

{#          Die Funktion kommt hierhin...#}
            <div class="card-inhalt border-right border-left border-bottom px-3 py-4">
              {% block card-inhalt %}{% endblock %}
            </div>
{#          Die Funktion endet hier!!#}
          </div>

          <div class="card-footer">
            <a class="btn btn-primary btn-sm" href="{% url 'app1-info' %}">abbrechen</a>
            <button {% if ladezeit %}onclick="$.blockUI()"{% endif %} class="btn btn-primary btn-sm float-right" type="submit">Weiter</button>
          </div>
        </div>
      </div>

      <div class="col-lg-3 infobox">
        <div class="card shadow ">
          <div class="card-header info"><i class="fas fa-info-circle mr-2"></i>{% block infobox-titel %}{% endblock %}</div>
          <div class="card-body">
            {% block infobox-inhalt %}{% endblock %}
            </div>
        </div>
      </div>
    </div>
  </form>

  <div id="loading" style="display:none;">
    <img src="{% static 'img/46.svg' %}" />
  </div>

{% endblock content %}


{% block javascript %}
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.2.min.js"></script>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.2.min.js"></script>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.2.min.js"></script>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-1.3.2.min.js"></script>
<script src="{% static 'js/app1.js' %}"></script>
{% endblock javascript %}