{% extends 'app1/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block card-titel %}Start{% endblock card-titel%}

{% block card-inhalt %}

      <div class="container-fluid">
        <div class="form-wrapper">
          <!-- <div class="form-group">
            <label for="FlexOptions">eFlex-Maßnahme wählen:</label>
            <select class="form-control" id="FlexOptions" autocomplete="off">
              <option id="0">Bitte Option wählen...</option>
              <option id="1">Bivalenz</option>
              <option id="2">Flexibilisierung der Eigenerzeugung</option>
            </select>
          </div> -->
          <h5>Geben sie die Simulationszeit an und wählen sie eine eFlex-Maßnahme</h5>
          
          <div class="form-group" id="{{ form.flex_var.name }}">
              <label class="d-inline-block ml-1"> eFlex-Maßnahme </label>
              <div class="d-inline-block">{{ form.flex_var }} </div>

  
            </div>
  
          <div class="form-group" id="{{ form.flex_var.name }}">
            <label class="d-inline-block ml-1"> Simulationszeit [ in Tagen ]: </label>
            <div class="d-inline-block">{{ form.SimTime }} </div>
          </div>
  


          <hr>

          <div class="form-group flex2 all" id="{{ form.bhkw.name }}">
            <div class="d-inline-block">{{ form.konf_BHKW }}</div>
            <label class="d-inline-block ml-1"> Ist ein BHKW vorhanden? </label>
          </div>

          <div class="form-group flex2 all" id="{{ form.p_speicher.name }}">
            <div class="d-inline-block">{{ form.konf_Pufferspeicher }}</div>
            <label class="d-inline-block ml-1"> Ist ein Pufferspeicher vorhanden? </label>
          </div>

          <!-- WRG -->
          <div class="form-group flex2 flex1 all" id="{{ form.wrg.name }}">

            <div class="d-inline-block">{{ form.konf_WRG}}</div>
            <label class="d-inline-block ml-1"> Wird eine WRG eingesetzt? </label>

            <div id="Anzahl_WRG" style="display: none">
              <label class="d-inline-block font-weight-bold"> Anzahl: </label>
              <div class="d-inline-block">{{ form.Anzahl_WRG }}</div> 
            </div>

          </div>

          <!-- HK -->
          <div class="form-group flex1 all" id="{{ form.hk.name }}">

            <div class="d-inline-block">{{ form.konf_HK }}</div>
            <label class="d-inline-block ml-1"> Ist ein Heizkessel vorhanden? </label>

            <div id="Anzahl_HK" style="display: none">
              <label class="d-inline-block font-weight-bold"> Anzahl: </label>
              <div class="d-inline-block">{{ form.Anzahl_WRG }}</div> 
            </div>

          </div>

        </div>
      </div>

{% endblock card-inhalt %}


{% block infobox-titel %}{% endblock infobox-titel %}

{% block infobox-inhalt %}{% endblock infobox-inhalt %}


