{% extends 'app1/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block card-titel %}Start{% endblock %}

{% block card-inhalt %}
      <h6>Modellabbildung</h6>
      <hr>

      <img class="model_png" src="{{ img_path }}" alt="">

      <div class="form-wrapper">
        <h6>Parameter Sets</h6>
        <hr>

        {{ form|crispy }}
        <h6>Combi Tables</h6>
        <hr>
        {{ form_ctt|crispy }}
      </div>

{% endblock %}

{% block infobox-titel %}

Ein Titel für Step 2

{% endblock %}

{% block infobox-inhalt %} 
Und noch mehr Inhalt für diese Box
{% endblock %}

