{% extends 'app1/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block card-titel %}Start{% endblock %}

{% block card-inhalt %}


<div class="form-wrapper eflex">
    <!-- <div class="form-group">
      <label for="FlexOptions">eFlex-Maßnahme wählen:</label>
      <select class="form-control" id="FlexOptions" autocomplete="off">
        <option id="0">Bitte Option wählen...</option>
        <option id="1">Bivalenz</option>
        <option id="2">Flexibilisierung der Eigenerzeugung</option>
      </select>
    </div> -->
    <h5>1. Betriebsstrategien</h5>
    <hr>
    
    <div class="form-group" id="{{ form.flex_var.name }}">
        <label class="d-inline-block ml-1"> eFlex-Maßnahme </label>
        <div class="d-inline-block">{{ form.flex_var }} </div>
      </div>

    <div class="form-group" id="{{ form.flex_var.name }}">
      <label class="d-inline-block ml-1"> Simulationszeit [ in Tagen ]: </label>
      <div class="d-inline-block">{{ form.SimTime }} </div>
    </div>

    <hr>

    <div class="form-group flex2 all" id="{{ form.bhkw.name }}">
      <div class="d-inline-block">{{ form.konf_BHKW }}</div>
      <label class="d-inline-block ml-1"> Ist ein BHKW vorhanden? </label>
    </div>

    <div class="form-group flex2 all" id="pufferspeicher">
      <div class="d-inline-block">{{ form.konf_Pufferspeicher }}</div>
      <label class="d-inline-block ml-1"> Ist ein Pufferspeicher vorhanden? </label>
    </div>

    <!-- WRG -->
    <div class="form-group flex2 flex1 all" id="wrg">

      <div class="d-inline-block">{{ form.konf_WRG}}</div>
      <label class="d-inline-block ml-1"> Wird eine WRG eingesetzt? </label>

      <div id="Anzahl_WRG" style="display: none">
        <label class="d-inline-block font-weight-bold"> Anzahl: </label>
        <div class="d-inline-block">{{ form.Anzahl_WRG }}</div> 
      </div>

    </div>

    <!-- HK -->
    <div class="form-group flex1 all" id="hk">

      <div class="d-inline-block">{{ form.konf_HK }}</div>
      <label class="d-inline-block ml-1"> Ist ein Heizkessel vorhanden? </label>

      <div id="Anzahl_HK" style="display: none">
        <label class="d-inline-block font-weight-bold"> Anzahl: </label>
        <div class="d-inline-block">{{ form.Anzahl_HK }}</div> 
      </div>

    </div>

    <div class="form-group flex2 all" id="{{ form.Anzahl_HK.name }}">
      <label class="d-inline-block ml-1" > Anzahl HK: </label>
    <div class="d-inline-block"> {{ form.Anzahl_HK }} </div>

    </div>

  </div>


  <div class="form-wrapper komponenten mt-3" style="display: none" id="komponenten">


    <h5>2. Komponenten</h5>

    <hr>

    {% for item in form  %}
      {% if not item.name in konfList  %}
        <div class="form-group" id="div_id_{{ item.name }}" style="display:none">
          <label class="d-block ml-1 text-dark font-weight-bold" > {{ item.name }}  </label>
          <div class="d-block"> {{ item }} </div>
        </div>  
      {% endif %} 
    {% endfor %}

    <!-- {{ form|crispy }} -->

  </div>

{% endblock %}

{% block infobox-titel %}

Ein Titel für Step 2

{% endblock %}

{% block infobox-inhalt %} 

Es wurden <b>Komponenten</b> identifiziert, die Records und CombiTimeTable beinhalten.
<img class="border rounded my-3" src="{% static 'img/parameter.png' %}" width="100%">

Die Werte der Records und CombiTimeTables werden durch die aus den hochgeladenen Excel Files ersetzt.
<br>
<br>
Die Bezeichnung der Komponenten ('oe', 'bhkw', etc.) entspringen der <b>Bennungskonvention</b> wie sie in Dymola verwendet wird.
Damit EASER die Daten korrekt einspeisen kann, müssen die Excel-Workbooks eine gewisse Struktur haben und ebenfalls der 
Bennungskonvention folgen. Vorlagen für die Excel-Workbooks können sie sich in der <a href="{% url 'app1-doc' %}"> Dokumentation</a> Dokumentation.
<br>



<!-- Das gewählte Modell hat folgende Struktur: -->
<!-- <img class="model_png" src="{{ img_path }}" alt=""> -->

{% endblock %}

