{% extends 'app1/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block card-titel %}Start{% endblock %}

{% block card-inhalt %}
  <h6>Wählen sie ein Modell aus:</h6>
  {{ form|crispy }}
{% endblock %}

{% block infobox-titel %}Modell auswähen{% endblock %}

{% block infobox-inhalt %}
EASER durchsucht den Packagebrowser ihrer der Dymoladatei nach Modellen auf einem definierten Pfad.

<br>
<img src="{% static 'img/packagebrowser.png' %}" alt="" class="border rounded p-3 my-3">
<br>

{% endblock %}


