{% extends 'app1/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block card-titel %}Ergebnisse{% endblock %}

{% block card-inhalt %}

    <form method ="post" name="one">{% csrf_token %}
        <h1>1. Select comparison-criterion</h1>
        <select name="crit">
            {% for variable in variables %}
            <option value="{{variable}}">{{variable}}</option>
            {% endfor %}
        </select>
        <h1>2. Select Simulation</h1>
        <select name="crit2">
            <option value=""></option>
            {% for simulation in simulations %}
            <option value="{{simulation}}">{{simulation}}</option>
            {% endfor %}
        </select>
        <h1>Submit here</h1>
        <button type="submit" value="Submit">Submit</button>
    </form>

    <h1>Bokeh Starter Graph</h1>

    {{div}} 
    {{script}}





{% endblock %}

{% block infobox-titel %}{% endblock %}

{% block infobox-inhalt %}{% endblock %}

