
h6.doc{
    /* background-color: white; */
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
    border: thin solid lightgray;
    background-color: rgba(87, 101, 108, 0.5);
    color: white;
    margin-top: 2rem;
}

p.doc{
    padding: 1rem;
}
