.bg-gradient-primary {
    background-color: #1d393b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #336467), to(#1d393b));
    background-image: linear-gradient(180deg, #336467 10%, #1d393b 100%);
    background-size: cover;
}

.user-icon{
    background: rgba(46, 92, 96, 0.32);
    border-radius: 50%;
    width:30px;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: .19rem;
}

.sidebar.toggled .sidebar-heading{
    padding: 0;
}


.uni-logo{
    position: fixed;
    background-color: white;
    height: 70px;
    padding: .8rem;
    right: 0;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.26);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.26);
}


.path-wrapper{
    color: #1c294e;
    font-size: .9rem;
}

.path-list{
    display: inline;
    margin: 0;
    padding: 0;
}

.path-list .path-item{
    display: inline;
    padding: .5rem;
}

.path-list .separator{
    display: inline;
}