body{
    font-family: 'Gudea', sans-serif;
}

.eta-logo{
    height: 100%;
}

.footer-logo{
    height: 80px;
}

.bg-gradient-primary {
    background-color: #00476F;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgb(60, 103, 128)), to(#00476F));
    background-image: linear-gradient(180deg, rgb(60, 103, 128) 10%, #00476F 100%);
    background-size: cover;
}


.user-icon{
    background: rgba(46, 92, 96, 0.32);
    border-radius: 50%;
    width:30px;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: .19rem;
}

.sidebar.toggled .sidebar-heading{
    padding: 0;
}


.uni-logo{
    position: fixed;
    background-color: white;
    height: 70px;
    padding: .8rem;
    right: 0;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.26);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.26);
}


.path-wrapper{
    color: #1c294e;
    font-size: .9rem;
}

.path-list{
    display: inline;
    margin: 0;
    padding: 0;
}

.path-list .path-item{
    display: inline;
    padding: .5rem;
}

.path-list .separator{
    display: inline;
}


#news .card{
    width: 100%;
}


.sidebar{
    /* background-image: url(/static/img/overlay.png),linear-gradient(45deg,#dd3d31 0%,#d22f23 20%); */
    background-image: url(/static/img/overlay.png), linear-gradient(45deg,rgb(6, 71, 109) 20%,#00476F 80%);
    background-size: cover;
}


.btn-primary {
    color: #fff;
    background-color: #dd9a34;
    border-color:#dfa54e;
}


.btn-primary:hover {
    color: #fff;
    background-color: #da8300;
    border-color:#dfa54e;
}