{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-secondary">Simulationsmodelle (.mo) von {{ username }}</h6>
      </div>
      <div class="card-body">
      {% if files %}
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="">
            <thead>
              <tr>
                <th>Titel</th>
                <th>Dateiname</th>
                <th>Datum</th>
                <td>Löschen</td>
              </tr>
            </thead>
            <tbody>
              {% for file in files %}
                <tr>
                  <td>{{ file.title }}</td>
                  <td>{{ file.file }}</td>
                  <td>{{ file.date_created }}</td>
                  <td><a href="{% url 'delete-view' file.id %}"><i class="fa fa-trash"></i></a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLong">
            <a href="{% url 'ablage-view'%}"><i class="fas fa-plus-circle"></i><span class="mx-2">zurück</span></a> 
          </button>


        </div>

      {% else %}
        <p>Sie haben noch keine Dateien hochgeladen...</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            <i class="fas fa-plus-circle"></i><span class="mx-2">Datei hochladen</span>
          </button>
      {% endif %}
      </div>
    </div>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Datei Hochladen
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" enctype="multipart/form-data">
          <div class="modal-body">
            {% csrf_token %}
            {{ form|crispy }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
            <button type="submit" class="btn btn-primary">Hochladen</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
