{% extends 'base.html' %}
{% load static %}


{% block content %}

  <div class="row">

      <div class="col-12">
    
        <h4>Dashboard</h4>    
      
        <h6>Meine Apps</h6>
        <hr>
    
        <div class="card d-inline-flex mr-2 mb-2" style="width: 18rem">
          <img src="{% static 'img/Kachel_Dymola.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">EASER</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">App öffnen</a>
          </div>
        </div>
    
        <div class="card d-inline-flex mr-2 mb-2" style="width: 18rem">
          <img src="{% static 'img/Kachel_Betrieb.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Betriebsoptimierungstool</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">App öffnen</a>
          </div>
        </div>

        <div class="card d-inline-flex mr-2 mb-2" style="width: 18rem">
          <img src="{% static 'img/Kachel_Potenzial.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Potenzialanalyse</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">App öffnen</a>
          </div>
        </div>
    
        <div class="card d-inline-flex mr-2 mb-2" style="width: 18rem">
          <img src="{% static 'img/Kachel_Matrix.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Technologiematrix</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">App öffnen</a>
          </div>
        </div>

        <h6 class="mt-3">Meine Auswertungen</h6>
        <hr>
    


        
    
      </div>
    
    
      <!-- <div class="col-3" id="news">
    
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Neuigkeit 1 <i class="fas fa-rss float-right" style="opacity: .5"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div> 

        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Neuigkeit 1 <i class="fas fa-rss float-right" style="opacity: .5"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div> -->

    </div>



{% endblock %}


{% block javascript %}
<script>  
  $(document).ready(function(){ 
    $('#Dashboard').addClass('active');
  });
</script>
{% endblock javascript %}
